
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #36D6AD;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #36D6AD
    ;
  }
  
  .aside {
    padding: 55px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
  }
  .img-cat{
    height: 250px;
    width: 250px;
  }
  
/*Cabeçalho*/

h1{
  text-align: center;
  font-size: medium;
}
/*
.patas{
width: 5px;
height: 5px;
left: 0.02px;
opacity: 0.1;
}

*/

.ctt{
  padding: 15px;
  text-align: right;
}

/*Corpo*/
.paragrafo-bem-vindo{
 
  /* Parágrafo */
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  
  text-align: center;
  
  color: #FFFFFF;
}

.btn-style{
width: 180px;
height: 40px;
left: 90px;
top: 398px;
background: #FC7071;
border-radius: 6px;
}
.a-link{
  text-decoration: none;
  color: #fff;
}
.fig-1{
  position: absolute;
width: 84.03px;
height: 415px;
right: 0px;
top: 199px;
opacity: 0.5;
}

/*Rodapé*/  
.footer {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #00b487;
  height: auto;
  width: 100vw;
  color: #fff;
  }
  .footer-title{
    text-align: center  ;
  }
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media screen and (max-width: 1920px) {
    /* Tablets: */
    [class*="col-"] {
      width: 100%;
    }
    body {
      background-color: rgb(111, 210, 243);
      color: white;
    }
  }

  @media only screen and (max-width: 768px) {
    /* Tablets: */
    [class*="col-"] {
      width: 100%;
    }
    body {
      background-color: #3772FF;
      color: white;
    }
    .img-house{
      position: absolute;
      position: absolute;
left: 31.38%;
right: 66.12%;
top: 5.58%;
bottom: 92.5%;
    }
    /*Cabeçalho*/
    .img-vetor{
      position: absolute;
      width: 529.81px;
      height: 434.85px;
      left: -1.17px;
      top: -1px;
      opacity: 0.50;
      
    }
    .img-vetor-4{
      position: absolute;
width: 559.8px;
height: 469px;
left: 0px;
top: 0px;

    }
    .img-logo{
      margin-top: 50%;
      margin-left: 33%;
      bottom: 77.51%;
    }
  }

  
  /* Celular pequeno */
  @media screen and (max-width: 360px) {
    [class*="col-"] {
      width: 100%;
    }
    body {
      background-color: #3772FF;
      color: white;
    }
    .img-house{
      position: absolute;
      left: 13.33%;
      right: 81.33%;
      top: 5.23%;
      bottom: 92.26%;
    }
    /*Cabeçalho*/
    .img-vetor{
      position: absolute;
      width: 333.25px;
      height: 273.52px;
      left: 0.02px;
      top: 0px;
      opacity: 0.50;
    }
    .img-vetor-4{
      position: absolute;
      width: 352.11px;
      height: 295px;
      left: -0.5px;
      top: 0px;
    }
    .img-logo{
      margin-top: 50%;
      margin-left: 9%;
      bottom: 77.51%;
    }
    .forma-2{
      position: absolute;
    width: 84.03px;
    height: 415px;
    left: 290.7px;
    top: 199px;
    opacity: 0.50;
    }

    h3{
      position: absolute;
      width: 155px;
      height: 48px;
      left: 102px;
      top: 238px;

      font-family: 'IBM Plex Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 48px;

      display: flex;
      align-items: center;
      text-align: center;

      color: #FFFFFF;
    }
    .paragrafo-bem-vindo{
      position: absolute;
width: 248px;
height: 72px;
left: 56px;
top: 302px;

/* Parágrafo */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;

color: #FFFFFF;
    }
 
  }